
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  font-family: "Roboto", sans-serif; 
}

body{
    background-color: #fedcdc;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.contenedor{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.box{
    width: 100px;
    height: 100px;
    background-color: aqua;
    font-weight: 800;
}

.volver a{
    text-decoration: none;
    color: black;
}